{% extends "_base.html" %}

{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en" %}
{% block title_en %}{% translate "Auditorium: Login" %}{% endblock title_en %}
{% block special_styles_en %}
<link rel="stylesheet" href="{% static "en/css/shop.css" %}" />
{% endblock special_styles_en %}
{% block content_en %}
{% include "accounts/includes/en/_content_login_en.html" %}
{% endblock content_en %}
{% block special_scripts_en %}
<script src="{% static "en/js/shop.js" %}"></script>
{% endblock special_scripts_en %}

{% elif LANGUAGE_CODE == "fa" %}
{% block title_fa %}{% translate "Auditorium: Login" %}{% endblock title_fa %}
{% block special_styles_fa %}
<link rel="stylesheet" href="{% static "fa/css/shop.css" %}" />
{% endblock special_styles_fa %}
{% block content_fa %}
{% include "accounts/includes/fa/_content_login_fa.html" %}
{% endblock content_fa %}
{% block special_scripts_fa %}
<script src="{% static "fa/js/shop.js" %}"></script>
{% endblock special_scripts_fa %}

{% elif LANGUAGE_CODE == "ckb" %}
{% block title_ckb %}{% translate "Auditorium: Login" %}{% endblock title_ckb %}
{% block special_styles_ckb %}
<link rel="stylesheet" href="{% static "ckb/css/shop.css" %}" />
{% endblock special_styles_ckb %}
{% block content_ckb %}
{% include "accounts/includes/ckb/_content_login_ckb.html" %}
{% endblock content_ckb %}
{% block special_scripts_ckb %}
<script src="{% static "ckb/js/shop.js" %}"></script>
{% endblock special_scripts_ckb %}

{% endif %}
