# Django settings-related environment variables
SECRET_KEY="--auditorium--The Django project secret key--auditorium--"
DEBUG= # Boolean data for the Django project debug status. 0 = False & 1 = True.
ALLOWED_HOSTS="localhost"

# Database-related environment variables
DATABASE_ENGINE="The database engines like PostgreSQL, MySQL and..."
DATABASE_NAME="The database system name"
DATABASE_USERNAME="The database system username"
DATABASE_PASSWORD="The database system user's password"
DATABASE_HOST="The database hosting (for example, when using PostgreSQL: 'db')"
DATABASE_PORT="The database port (for example, when using PostgreSQL: '5432')"
