SECRET_KEY="The project's 'Secret Key'."
DEBUG=The project's 'Debug' status. Set in boolean.
POSTGRES_DB="The database's name."
DATABASE_NAME="The database's name."

POSTGRES_USER="The database's admin username."
DATABASE_USER="The database's admin username."

POSTGRES_PASSWORD="The database's admin password."
DATABASE_PASSWORD="The database's admin password."
