SECRET_KEY="The project's 'Secret Key'."
DEBUG=The project's 'Debug' status. Set in boolean.
POSTGRES_DB,DATABASE_NAME="The database's name."
POSTGRES_USER,DATABASE_USER="The database's admin username."
POSTGRES_PASSWORD,DATABASE_PASSWORD="The database's admin password."
