{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en" %}
<!-- Core JS -->
<script src="{% static 'en/vendor/jquery/jquery.min.js' %}"></script>
<!-- jquery JS (https://jquery.com) -->
<!-- Libs and Plugins JS -->
<script src="{% static 'en/vendor/gsap/gsap.min.js' %}"></script>
<!-- GSAP JS (https://greensock.com/gsap/) -->
<script src="{% static 'en/vendor/gsap/ScrollToPlugin.min.js' %}"></script>
<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
<script src="{% static 'en/vendor/gsap/ScrollTrigger.min.js' %}"></script>
<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->
<script src="{% static 'en/vendor/smooth-scrollbar.js' %}"></script>
<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
<script src="{% static 'en/vendor/swiper/js/swiper-bundle.min.js' %}"></script>
<!-- Swiper JS (https://swiperjs.com/) -->
<script src="{% static 'en/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
<script src="{% static 'en/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!-- Isotope JS (http://isotope.metafizzy.co) -->
<script src="{% static 'en/vendor/isotope/packery-mode.pkgd.min.js' %}"></script>
<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
<script src="{% static 'en/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
<script src="{% static 'en/vendor/jquery.mousewheel.min.js' %}"></script>
<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->
<!-- Theme master JS -->
<script src="{% static 'en/js/theme.js' %}"></script>
<script src="{% static 'en/js/shop.js' %}"></script>

{% elif LANGUAGE_CODE == "fa" %}
<!-- Core JS -->
<script src="{% static 'fa/vendor/jquery/jquery.min.js' %}"></script>
<!-- jquery JS (https://jquery.com) -->
<!-- Libs and Plugins JS -->
<script src="{% static 'fa/vendor/gsap/gsap.min.js' %}"></script>
<!-- GSAP JS (https://greensock.com/gsap/) -->
<script src="{% static 'fa/vendor/gsap/ScrollToPlugin.min.js' %}"></script>
<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
<script src="{% static 'fa/vendor/gsap/ScrollTrigger.min.js' %}"></script>
<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->
<script src="{% static 'fa/vendor/smooth-scrollbar.js' %}"></script>
<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
<script src="{% static 'fa/vendor/swiper/js/swiper-bundle.min.js' %}"></script>
<!-- Swiper JS (https://swiperjs.com/) -->
<script src="{% static 'fa/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
<script src="{% static 'fa/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!-- Isotope JS (http://isotope.metafizzy.co) -->
<script src="{% static 'fa/vendor/isotope/packery-mode.pkgd.min.js' %}"></script>
<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
<script src="{% static 'fa/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
<script src="{% static 'fa/vendor/jquery.mousewheel.min.js' %}"></script>
<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->
<!-- Theme master JS -->
<script src="{% static 'fa/js/theme.js' %}"></script>
<script src="{% static 'fa/js/shop.js' %}"></script>

{% elif LANGUAGE_CODE == "ckb" %}

<!-- Core JS -->
<script src="{% static 'ckb/vendor/jquery/jquery.min.js' %}"></script>
<!-- jquery JS (https://jquery.com) -->
<!-- Libs and Plugins JS -->
<script src="{% static 'ckb/vendor/gsap/gsap.min.js' %}"></script>
<!-- GSAP JS (https://greensock.com/gsap/) -->
<script src="{% static 'ckb/vendor/gsap/ScrollToPlugin.min.js' %}"></script>
<!-- GSAP ScrollToPlugin JS (https://greensock.com/scrolltoplugin/) -->
<script src="{% static 'ckb/vendor/gsap/ScrollTrigger.min.js' %}"></script>
<!-- GSAP ScrollTrigger JS (https://greensock.com/scrolltrigger/) -->
<script src="{% static 'ckb/vendor/smooth-scrollbar.js' %}"></script>
<!-- Smooth Scrollbar JS (https://github.com/idiotWu/smooth-scrollbar/) -->
<script src="{% static 'ckb/vendor/swiper/js/swiper-bundle.min.js' %}"></script>
<!-- Swiper JS (https://swiperjs.com/) -->
<script src="{% static 'ckb/vendor/isotope/imagesloaded.pkgd.min.js' %}"></script>
<!-- imagesloaded JS (more info: https://imagesloaded.desandro.com/) -->
<script src="{% static 'ckb/vendor/isotope/isotope.pkgd.min.js' %}"></script>
<!-- Isotope JS (http://isotope.metafizzy.co) -->
<script src="{% static 'ckb/vendor/isotope/packery-mode.pkgd.min.js' %}"></script>
<!-- Isotope Packery Mode JS (https://isotope.metafizzy.co/layout-modes/packery.html) -->
<script src="{% static 'ckb/vendor/lightgallery/js/lightgallery-all.min.js' %}"></script>
<!-- lightGallery Plugins JS (http://sachinchoolur.github.io/lightGallery) -->
<script src="{% static 'ckb/vendor/jquery.mousewheel.min.js' %}"></script>
<!-- A jQuery plugin that adds cross browser mouse wheel support (https://github.com/jquery/jquery-mousewheel) -->
<!-- Theme master JS -->
<script src="{% static 'ckb/js/theme.js' %}"></script>
<script src="{% static 'ckb/js/shop.js' %}"></script>

{% endif %}