{% load static %}
{% load i18n %}

<div id="content-wrap">
    <!-- ========================
    ///// Begin page header /////
    ============================= 
    * Use class "ph-full" to enable fullscreen size.
    * Use class "ph-cap-sm", "ph-cap-lg", "ph-cap-xlg" or "ph-cap-xxlg" to set caption size (no class = default size).
    * Use class "ph-center" to enable content center position.
    * Use class "ph-bg-image" to enable page header background image (required for a portfolio single project!).
    * Use class "ph-bg-image-is-light" if needed, it makes the elements dark and more visible if you use a very light image (effect only with class "ph-bg-image").
    * Use class "ph-image-shadow" to enable page header background image (effect only with class "ph-bg-image").
    * Use class "ph-image-cropped" to crop image. It fixes image dimensions (no effect for "ph-bg-image"!).
    * Use class "ph-image-cover-*" to set image overlay opacity. For example "ph-image-cover-2" or "ph-image-cover-2-5" (up to "ph-image-cover-9-5").
    * Use class "ph-content-parallax" to enable content parallax.
    * Use class "ph-stroke" to enable caption title stroke style.
    -->
    <div id="page-header" class="ph-full ph-cap-xxlg ph-center ph-image-cropped ph-image-cover-4 ph-content-parallax">
        <div class="page-header-inner tt-wrap">
            <!-- Begin page header image 
            ============================= -->
            <div class="ph-image">
                <div class="ph-image-inner">
                    <img src="{{ context.about_page_header_image.url }}" alt="Image" />
                </div>
            </div>
            <!-- End page header image -->

            <!-- Begin page header caption
            =============================== 
            Use class "max-width-*" to set caption max width if needed. For example "max-width-1000". More info about helper classes can be found in the file "helper.css".
            -->
            <div class="ph-caption">
                <h1 class="ph-caption-title ph-appear">{{ context.about_page_introduction_title }}</h1>
                <div class="ph-caption-title-ghost ph-appear">{{ context.about_page_introduction_background_title }}</div>
                <div class="ph-caption-subtitle ph-appear">{% translate "The House...!" %}</div>
            </div>
            <!-- End page header caption -->
        </div>
        <!-- /.page-header-inner -->

        <!-- Begin scroll down circle (you can change "data-offset" to set scroll top offset) 
        ============================== -->
        <a href="#page-content" class="scroll-down-circle" data-offset="30">
            <div class="sdc-inner ph-appear">
                <div class="sdc-icon"><i class="fas fa-chevron-down"></i></div>
                <svg viewBox="0 0 500 500">
                    <defs>
                        <path d="M50,250c0-110.5,89.5-200,200-200s200,89.5,200,200s-89.5,200-200,200S50,360.5,50,250" id="textcircle"></path>
                    </defs>
                    <text dy="30">
                        <textPath xlink:href="#textcircle">{% translate "Scroll down - Scroll down -" %}</textPath>
                    </text>
                </svg>
            </div>
            <!-- /.sdc-inner -->
        </a>
        <!-- End scroll down circle -->

        <!-- Begin made with love 
        ========================== -->
        <div class="made-with-love ph-appear">
            <div class="mwl-inner">
                <div class="mwl-text">{% translate "Made with..." %}</div>
                <div class="mwl-icon"><i class="far fa-heart"></i></div>
            </div>
        </div>
        <!-- End made with love -->
    </div>
    <!-- End page header -->

    <!-- *************************************
    *********** Begin page content *********** 
    ************************************** -->
    <div id="page-content">
        <!-- =======================
        ///// Begin tt-section /////
        ============================ 
        * You can use padding classes if needed. For example "padding-top-xlg-150", "padding-bottom-xlg-150", "no-padding-top", "no-padding-bottom", etc. Note that each situation may be different and each section may need different classes according to your needs. More info about helper classes can be found in the file "helper.css".
        -->
        <div class="tt-section">
            <div class="tt-section-inner tt-wrap">
                <div class="tt-row">
                    <div class="tt-col-lg-4 padding-right-lg-5-p">
                        <!-- Begin tt-Heading 
                        ====================== 
                        * Use class "tt-heading-xsm", "tt-heading-sm", "tt-heading-lg", "tt-heading-xlg" or "tt-heading-xxlg" to set caption size (no class = default size).
                        * Use class "tt-heading-stroke" to enable stroke style.
                        * Use class "tt-heading-center" to align tt-Heading to center.
                        * Use prepared helper class "max-width-*" to add custom width if needed. Example: "max-width-800". More info about helper classes can be found in the file "helper.css".
                        -->
                        <div class="tt-heading tt-heading-sm margin-bottom-60 anim-fadeinup">
                            <h2 class="tt-heading-title text-gray">
                                The<br class="hide-from-md" />
                                Story
                            </h2>
                            <!-- <h3 class="tt-heading-subtitle text-gray">Subtitle</h3> -->
                        </div>
                        <!-- End tt-Heading -->
                    </div>
                    <!-- /.tt-col -->

                    <div class="tt-col-lg-8">
                        <div class="text-xxlg ph-appear font-alter">
                            {{ context.about_page_content|safe }}
                        </div>
                    </div>
                    <!-- /.tt-col -->
                </div>
                <!-- /.tt-row -->
            </div>
            <!-- /.tt-section-inner -->
        </div>
    </div>
    <!-- End page content -->

    <!-- ======================
    ///// Begin tt-footer /////
    =========================== -->
    <footer id="tt-footer">
        <div class="tt-footer-inner">
            <!-- Begin footer column 
            ========================= -->
            <div class="footer-col tt-align-center-right">
                <div class="footer-col-inner">
                    <!-- You can use whatever button or link here -->
                    <div class="tt-btn tt-btn-link">
                        <a href="#" class="scroll-to-top" data-hover="{% translate "Back to top." %}">{% translate "Back to top." %}</a>
                    </div>
                </div>
                <!-- /.footer-col-inner -->
            </div>
            <!-- Begin footer column -->

            <!-- Begin footer column 
            ========================= -->
            <div class="footer-col tt-align-center order-m-last">
                <div class="footer-col-inner">
                    <div style="text-align: center;" class="tt-copyright">{% translate "© Copyright/Copyleft - MIT LICENSE: Navid. R. - All rights reserved to developers and content creators." %}<br /><div style="font-size: xx-small; text-align: center;">{% translate "In loving memory of my cherished friend, Donya Farhadi. Dearest soul, Kurdistan shall forever hold your pain, your sorrow, and your boundless love in its heart." %}</div></div>
                </div>
                <!-- /.footer-col-inner -->
            </div>
            <!-- Begin footer column -->

            <!-- Begin footer column 
            ========================= -->
            <div class="footer-col tt-align-center-left">
                <div class="footer-col-inner">
                    <div class="footer-social">
                        <div class="footer-social-text"><span>{% translate "Follow (Developer)" %}</span><i class="fas fa-share-alt"></i></div>
                        <div class="social-buttons">
                            <ul>
                                <li><a href="https://github.com/itsthenavid" class="magnetic-item" target="_blank" rel="noopener">GitHub.</a></li>
                                <li><a href="https://t.me/KungFuMorale" class="magnetic-item" target="_blank" rel="noopener">Tl. Pv.</a></li>
                                <li><a href="https://t.me/MoraleRadio" class="magnetic-item" target="_blank" rel="noopener">Tl. Ch.</a></li>
                                <li><a href="https://instagram.com/itsthenavid/" class="magnetic-item" target="_blank" rel="noopener">Ig.</a></li>
                            </ul>
                        </div>
                        <!-- /.social-buttons -->
                    </div>
                    <!-- /.footer-social -->
                </div>
                <!-- /.footer-col-inner -->
            </div>
            <!-- Begin footer column -->
        </div>
        <!-- /.tt-section-inner -->
    </footer>
    <!-- End tt-footer -->
</div>