{% load static %}
{% load i18n %}

{% get_current_language as lang %}

<div id="page-transition">
    <div class="ptr-overlay"></div>
    <div class="ptr-preloader">
        <div class="ptr-prel-content">
            <!-- Hint: You may need to change the img height and opacity to match your logo type. You can do this from the "theme.css" file (find: ".ptr-prel-image"). -->
            <img src="{% static "en/img/logo-light.png" %}" class="ptr-prel-image tt-logo-light" alt="لوگو" />
        </div>
        <!-- /.ptr-prel-content -->
    </div>
    <!-- /.ptr-preloader -->
</div>
