{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>
            {% block title_en %}{% endblock title_en %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}
        
        <!-- Light mode favicon -->
        <link rel="icon" href="{% static "favicon/favicon-dark.png" %}" media="(prefers-color-scheme: dark)">
        <!-- Dark mode favicon -->
        
        <link rel="icon" href="{% static "favicon/favicon-dark.png" %}" media="(prefers-color-scheme: dark)">


        <!-- Cloud services -->
        {% include "includes/_cloud_services.html" %}

        <!-- Plugins -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_en %}
        
        {% endblock special_styles_en %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_en %}
                {% endblock content_en %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_en %}{% endblock special_scripts_en %}
    </body>
</html>

{% elif LANGUAGE_CODE == "fa" %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Title -->
        <title>
            {% block title_fa %}{% endblock title_fa %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}

        <!-- Favicon (http://www.favicon-generator.org/) -->
        {% include "includes/_favicon.html" %}

        <!-- Libs and Plugins CSS -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_fa %}
        
        {% endblock special_styles_fa %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_fa %}
                {% endblock content_fa %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_fa %}
        
        {% endblock special_scripts_fa %}
    </body>
</html>

{% elif LANGUAGE_CODE == "ckb" %}
<!DOCTYPE html>
<html lang="ckb">
    <head>
        <!-- Title -->
        <title>
            {% block title_ckb %}{% endblock title_ckb %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}

        <!-- Favicon (http://www.favicon-generator.org/) -->
        {% include "includes/_favicon.html" %}

        <!-- Libs and Plugins CSS -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_ckb %}
        
        {% endblock special_styles_ckb %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_ckb %}
                {% endblock content_ckb %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_ckb %}
        
        {% endblock special_scripts_ckb %}
    </body>
</html>

{% endif %}