{% load static %}
{% load i18n %}

{% get_current_language as LANGUAGE_CODE %}

{% if LANGUAGE_CODE == "en" %}
<!DOCTYPE html>
<html lang="en">
    <head>
        <!-- Title -->
        <title>
            {% block title_en %}{% endblock title_en %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}

        <!-- Favicon (http://www.favicon-generator.org/) -->
        <link rel="apple-touch-icon" sizes="57x57" href="{% static "favicon/apple-icon-57x57.png" %}">
        <link rel="apple-touch-icon" sizes="60x60" href="{% static "favicon/apple-icon-60x60.png" %}">
        <link rel="apple-touch-icon" sizes="72x72" href="{% static "favicon/apple-icon-72x72.png" %}">
        <link rel="apple-touch-icon" sizes="76x76" href="{% static "favicon/apple-icon-76x76.png" %}">
        <link rel="apple-touch-icon" sizes="114x114" href="{% static "favicon/apple-icon-114x114.png" %}">
        <link rel="apple-touch-icon" sizes="120x120" href="{% static "favicon/apple-icon-120x120.png" %}">
        <link rel="apple-touch-icon" sizes="144x144" href="{% static "favicon/apple-icon-144x144.png" %}">
        <link rel="apple-touch-icon" sizes="152x152" href="{% static "favicon/apple-icon-152x152.png" %}">
        <link rel="apple-touch-icon" sizes="180x180" href="{% static "favicon/apple-icon-180x180.png" %}">
        <link rel="icon" type="image/png" sizes="192x192"  href="{% static "favicon/android-icon-192x192.png" %}">
        <link rel="icon" type="image/png" sizes="32x32" href="{% static "favicon/favicon-32x32.png" %}">
        <link rel="icon" type="image/png" sizes="96x96" href="{% static "favicon/favicon-96x96.png" %}">
        <link rel="icon" type="image/png" sizes="16x16" href="{% static "favicon/favicon-16x16.png" %}">
        {% comment %} <link rel="manifest" href="{% static "favicon/manifest.json" %}"> {% endcomment %}
        <meta name="msapplication-TileImage" content="{% static "favicon/ms-icon-144x144.png" %}">


        <!-- Cloud services -->
        {% include "includes/_cloud_services.html" %}

        <!-- Plugins -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_en %}
        
        {% endblock special_styles_en %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_en %}
                {% endblock content_en %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_en %}{% endblock special_scripts_en %}
    </body>
</html>

{% elif LANGUAGE_CODE == "fa" %}
<!DOCTYPE html>
<html lang="fa">
    <head>
        <!-- Title -->
        <title>
            {% block title_fa %}{% endblock title_fa %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}

        <!-- Favicon (http://www.favicon-generator.org/) -->
        {% include "includes/_favicon.html" %}

        <!-- Libs and Plugins CSS -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_fa %}
        
        {% endblock special_styles_fa %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_fa %}
                {% endblock content_fa %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_fa %}
        
        {% endblock special_scripts_fa %}
    </body>
</html>

{% elif LANGUAGE_CODE == "ckb" %}
<!DOCTYPE html>
<html lang="ckb">
    <head>
        <!-- Title -->
        <title>
            {% block title_ckb %}{% endblock title_ckb %}
        </title>

        <!-- Meta -->
        {% include "includes/_meta.html" %}

        <!-- Favicon (http://www.favicon-generator.org/) -->
        {% include "includes/_favicon.html" %}

        <!-- Libs and Plugins CSS -->
        {% include "includes/_plugins.html" %}

        <!-- Template master CSS -->
        {% include "includes/_styles.html" %}

        {% block special_styles_ckb %}
        
        {% endblock special_styles_ckb %}
    </head>

    <!-- ===========
	///// Body /////
	================
	* Use class "tt-boxed" to enable page boxed layout globally (affects all elements containing class "tt-wrap").
	* Use class "tt-smooth-scroll" to enable page smooth scrolling.
	* Use class "tt-transition" to enable page transitions.
	* Use class "tt-magic-cursor" to enable magic cursor.
	-->
    <body id="body" class="tt-transition tt-boxed tt-smooth-scroll tt-magic-cursor">
        <!-- *************************************
		*********** Begin body inner ************* 
		************************************** -->
        <main id="body-inner">
            <!-- Begin page transition (do not remove!!!) 
			=========================== -->
            {% include "includes/_page_transition.html" %}
            <!-- End page transition -->

            <!-- Begin magic cursor 
			======================== -->
            <div id="magic-cursor">
                <div id="ball"></div>
            </div>
            <!-- End magic cursor -->

            <!-- Begin noise background -->
            <div class="bg-noise"></div>
            <!-- End noise background -->

            <!-- *****************************************
			*********** Begin scroll container *********** 
			****************************************** -->
            <div id="scroll-container">
                <!-- ===================
				///// Begin header /////
				========================
				* Use class "tt-header-fixed" to set header to fixed position.
				-->
                {% include "includes/_header.html" %}
                <!-- End header -->

                <!-- *************************************
				*********** Begin content wrap *********** 
				************************************** -->
                {% block content_ckb %}
                {% endblock content_ckb %}
                <!-- End content wrap -->
            </div>
            <!-- End scroll container -->
        </main>
        <!-- End body inner -->

        <!-- ====================
		///// Scripts below /////
		===================== -->
        {% include "includes/_scripts.html" %}

        {% block special_scripts_ckb %}
        
        {% endblock special_scripts_ckb %}
    </body>
</html>

{% endif %}